body {
    background-color: cornsilk;
    margin-top: 30px;
}

img {
    height: 35px;
    width: 35px;
    padding: 5px;
    margin: 5px;
}

h1 {
    margin-top: 9px;
    color: rgb(130, 21, 21);
}

.veg {
    display: flex;
    justify-content: flex-start;
    padding-left: -50px;

}

.non-veg {
    display: flex;
    justify-content: flex-start;
    padding-left: -50px;
}



.box {
    display: flex;
    justify-content:space-around;
    align-items:flex-start;
}


.beverage {
    display: flex;
    justify-content: space-evenly;
}





.list {
    /* padding-top: -50px; */
    /* margin-left: 220px; */
    font-size: 25px;
    /* margin-left: -50px; */
    
    /* justify-content: space-between;
    align-items: left;
    flex-direction: column; */
    /* flex-wrap: wrap; */
}

.list1 {
    /* margin-top: 100px; */
    font-size: 25px;

    /* text-align: center; */
    /* padding-top: 30px;
    margin-left: 220px;
    font-size: 25px; */
}
.list2 {
    /* text-align: right; */
    font-size: 25px;

    /* padding-top: 30px;
    margin-left: 220px;
    font-size: 25px; */
}
.dish {
    display: flex;
    justify-content: space-around;

}