body {
    background-color: cornsilk;
}
div {
    display: flex;

    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* transition: width 2s; */
    

}

img {
    height: 400px;
    width: 500px;
    border-radius: 50%;
}
h2 {
    color: brown;
    text-decoration:underline;
}
a {
    color: rgba(255, 0, 0, 0.786);
}